[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = "tests"
python_files = ["tests.py", "test_*.py", "*_tests.py"]

[tool.pylint.design]
max-args = 10
max-attributes = 10
min-public-methods = 1